@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
  font-family: "DM Sans", sans-serif;
  color: white;
}

body {
    background-image: url("Images/favorites_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

form {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 45px;
  right:160px;
  top: 90px;

  background: #FBF9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

input {
  all: unset;
  font-size: 25px;
  color: #6b6b6b;
  height: 100%;
  width: 100%;
  font-weight: 500;
  padding: 15px 20px;
  font-family: "DM Sans", sans-serif;
}

::placeholder {
  color: #6c6c6c;
  opacity: 0.7; 
}

.fa-magnifying-glass{
  color: rgb(233, 97, 0);
  font-size: 20px;
}

.RATEDRESTAURANTS{
  position:absolute;
  top:180px;
  left:530px;
  font-size:40px;
  font-weight: bold;
}

#foodcard-title{
  font-weight: bold;
  font-size:20px;
  display: inline-block;
  color:black;
}

#foodcard-desc{
  display:inline-block;
  font-size:10px;
  color:#5F6D7E;
  font-weight: 300;
}

.rated-gendetails{
  color:#5F6D7E;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  display:inline-block;
  font-weight: 600;
  padding:5px;
  padding-left:18px;
}

#foodcard-type{
  color:#256A19;
}

.seemore{
  padding-top:5px;
  width:100px;
  font-size:10px;
  padding-left:16px;
}

.more{
  color: #256A19;
  font-weight:bold;
}


.arrow{
  border: solid #256A19;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.RATEDRESTAURANTS-container{
  position: absolute;
  top:250px;
  height: 700px;
  width: 1050px;
  left:300px;
  overflow-y:scroll;
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(234, 144, 0); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #538601; 
}

.rated-container2-1{
  position:absolute;
  top: 250px;
  left:230px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-1{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-1pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-1pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-2{
  position:absolute;
  top: 250px;
  left:505px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-2{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-2pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-2pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-3{
  position:absolute;
  top: 250px;
  left:780px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-3{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-3pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-3pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-4{
  position:absolute;
  top: 610px;
  left:230px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-4{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-4pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-4pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-5{
  position:absolute;
  top: 610px;
  left:505px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-5{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-5pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-5pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-6{
  position:absolute;
  top: 610px;
  left:780px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-6{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-6pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-6pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}

.rated-container2-7{
  position:absolute;
  top: 970px;
  left:230px;
  width:250px;
  margin:-250px auto;
}

.rated-card2-7{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  height:320px;
}

.rated-RES_2-7pic{
  height:135px;
  padding-bottom:15px;
}

.rated-RES_2-7pic img{
  width:244px;
  height:100%;
  object-fit: cover;
  display:block;
  padding:3px;
  border-radius: 10px;
}


/*FOOTER*/
footer{
    width: 100%;
    height: 200px;
    position:absolute;
    bottom:-900px;
    left:0px;
    right:0px;
    background: #0F2C0A;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.55);
    font-family: "DM Sans", sans-serif;
    color: white;
    padding-top: 30px;

  }
  
  .tagline{
      position:absolute;
      left: 200px;
      display: relative;
      align-items: center;
      font-size:30px;
      color:white;
  }
  
  .crave{
    font-weight: bold;
    color:white;
    font-style: italic;
  }
  
  .footbar{
    position:relative;
    top: 130px;
    left: 200px;
  }
  
  .footbar a{

    font-size:12px;
    text-decoration: none;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #A5ACBA;
  }

  .HOME{
    position: absolute;
    left: 0px;
  }
  .ABOUT{
    position: absolute;
    left: 100px;
  }
  .CONTACT{
    position: absolute;
    left: 200px;
  }
  .footer-details, .copyright{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #A5ACBA;
    right: 200px;
  }
  
  .copyright{
    top: 180px;
  }

  hr{
    position: relative;
    display: block;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    opacity: 30%;
  }

  
.backBtn {
  display: flex;
  float: right;
  width: 110px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 30px;
  margin-top: 20px;
  }
  
  
#backButton{
  position: relative;
  width: 110px;
  height: 44px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #256A19;
}

.backBtn #backButton:hover{
  background-color:#256A19;
  color:#FFFFFF;
  border-radius: 30px;
}

a[title]{
  text-decoration-line: none;
}

footer{
  width: 100%;
  height: 200px;
  position:absolute;
  top:1000px;
  left:0px;
  right:0px;
  background: #0F2C0A;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.55);
  font-family: "DM Sans", sans-serif;
  color: white;
  padding-top: 30px;

}